@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Roboto&display=swap');

$ff-primary: 'Roboto', sans-serif;
$ff-secondry: 'Noto Sans KR', sans-serif;
$clr-primary: #6ab04c;
$clr-secondry: #eb4d4b;
$clr-p: #535c68;
$clr-shadow: #3129291f;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 64.5%;
}
body {
  font-family: $ff-primary;
}
:focus {
  outline: none;
}
.navbar-body {
  background: #fff;
  height: 70px;
  box-shadow: 0 6px 15px -2px $clr-shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  .main-logo {
    width: 100px;
    height: auto;
  }
  #check-bar,
  #menu-trigger {
    display: none;
  }
  .navbar {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;
    .nav-item {
      height: 100%;
      .nav-link {
        font-size: 1.5rem;
        text-decoration: none;
        color: $clr-primary;
        position: relative;
        transition: 0.3s ease-out;
        height: inherit;
        display: flex;
        align-items: center;
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background: $clr-secondry;
          transition: 0.3s ease-out;
        }

        &:hover {
          color: $clr-secondry;
          &::after {
            width: 100%;
          }
        }
      }
    }
    .nav-item-menu {
      position: relative;
      .nav-link {
        &::after {
          content: unset;
        }
      }
      &:hover .dd-wrapper {
        display: block;
      }
      .dd-wrapper {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        border-top: 2px solid $clr-secondry;
        width: 110px;
        box-shadow: 0 6px 15px -2px $clr-shadow;
        display: none;
        .dd-navbar {
          position: relative;
          list-style: none;
          &::after {
            content: '';
            position: absolute;
            top: -3px;
            left: 50%;
            height: 8px;
            width: 8px;
            background: linear-gradient(-226deg, #ffffff 52%, #0000 52%);
            transform: rotate(45deg) translateX(-50%);
            border-top: 2px solid $clr-secondry;
            border-left: 2px solid $clr-secondry;
          }
          .nav-link {
            padding: 7px 5px 7px 15px;
            &::after {
              content: unset;
            }
            &:hover {
              color: $clr-secondry;
              background: #f1f1f1;
            }
          }
        }
      }
    }
  }
}
.banner-section {
  height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
  .bg-img {
    width: 100%;
  }
}
.card-section {
  .card-wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    padding: 0 5rem;
    transform: translateY(-50%);
    .card {
      background: white;
      border-radius: 6px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 5px;
      border: 1px solid #eee;
      box-shadow: 0 6px 20px 0px #4441413d;
      border-top: 4px solid $clr-secondry;
      align-items: start;
      .title {
        font-size: 2rem;
        font-family: $ff-secondry;
        color: $clr-secondry;
        margin: 0;
      }
      .desc {
        font-style: italic;
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }
      .btn {
        padding: 5px 15px;
        border: 1px solid transparent;
        background: $clr-primary;
        color: #fff;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
          border: 1px solid $clr-primary;
          color: $clr-primary;
          background: transparent;
        }
      }
    }
  }
}
.contact-section {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 8rem;
  }
  .address-wraper {
    width: 60%;
    img {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
    }
  }
  .contact-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h1 {
      font-size: 2rem;
      color: $clr-secondry;
      text-transform: capitalize;
    }

    .form-control {
      padding: 10px;
      border: 1px solid #6ab04c;
      border-radius: 4px;
      color: $clr-secondry;
      min-width: 250px;
      font-weight: bold;
      &::placeholder {
        color: $clr-p;
      }
    }
    .btn {
      padding: 5px 15px;
      border: 2px solid transparent;
      color: #fff;
      background: $clr-primary;
      font-size: 1.2rem;
      transition: 0.3s ease;
      cursor: pointer;
      margin-right: auto;
      border-radius: 4px;
      &:hover {
        border: 2px solid $clr-primary;
        color: $clr-primary;
        background: transparent;
      }
    }
  }
}
@media (max-width: 600px) {
  .navbar-body {
    #menu-trigger {
      display: block;
      font-size: 2rem;
      color: $clr-primary;
    }
    .navbar {
      position: fixed;
      background: #f9f9f9;
      height: calc(100vh - 70px);
      width: 100vw;
      bottom: 0;
      left: -200%;
      flex-direction: column;
      padding: 2rem;
      transition: 0.5s ease-in;
      box-shadow: inset 0 0px 18px -6px #3129291f, 6px 9px 10px 0 #0000001f;

      .nav-item {
        height: unset;
        width: 100%;
        padding: 10px;
      }
    }

    #check-bar:checked ~ .navbar {
      left: 0;
    }
  }
}
